body,
html {
    background-color: white;
}

main {
    padding: 0px 20px;
    height: 100vh;
}

.top {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    padding: 50px 20px;
}

.logo-top {
    width: 50px;
    display: block;
}

#shop-icon {
    width: 50px;
}

.top>.pages {
    justify-self: center;
    /* horizontal centering in the middle column */
    display: flex;
    gap: 20px;
}

.pages>a {
    font-family: "Barlow Condensed";
    color: grey;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
    /* smooth press effect */
    gap: 20px;
}

.pages>a:hover,
a:active {
    color: black;
}

.inter {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
}

.inter>a {
    height: max-content;
    text-decoration: none;
}

.display {
    height: 100vh;
    padding: 50px 0px 0px 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-auto-rows: auto;
    justify-content: center;
    gap: 16px;
    width: 100%;
}